<article class="col-12 col-md-6 col-lg-4 p-3">
    <div class="card">
      <img src="/images/<%= image ? image : 'default-placeholder.png' %>" class="card-img-top" alt="..."> <!-- agregame imagen si existe el nombre de la image y 
      sino existe colocame la imagen por defecto -->
      <div class="card-body">
        <h4 class="card-title"><%= name %></h4>
        <p class="card-text"><%= description %></p>
        <a href="/products/detail-one-image/<%= id %>" class="btn btn-sm btn-outline-dark">ver más</a>
      </div>
    </div>
  </article>